<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <script>
    var videoId = "0HaBOFvBoIA"; // Thay thế YOUR_VIDEO_ID bằng ID video của bạn
    var apiKey = "AIzaSyAHF-zQnJbDn5V9bBGQadCWlHIUPw0Co-4"; // Thay thế YOUR_API_KEY bằng API key của bạn

    fetch(`https://www.googleapis.com/youtube/v3/videos?part=status&id=${videoId}&key=${apiKey}`)
      .then(response => response.json())
      .then(data => {
        var embeddable = data.items[0].status.embeddable;
        if (embeddable) {
          console.log("Video này có thể nhúng.");
        } else {
          console.log("Video này không thể nhúng.");
        }
      })
      .catch(error => console.error('Error:', error));


  </script>
</body>

</html>