<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<button id="play">
    asdd
</button>
<audio id="elm-audio" controls>
    <source src="" type="audio/mpeg">
    <!-- Your browser does not support the audio element. -->
</audio>
<body>
    <script>
       
        document.getElementById('play').addEventListener('click',(e)=>{
            const ms = document.getElementById('elm-audio')
            ms.src ="https://a128-zmp3.zmdcdn.me/4f96f21e46a7a3e6a9bd0c46d5d96a2d?authen=exp=1696217662~acl=/4f96f21e46a7a3e6a9bd0c46d5d96a2d/*~hmac=fdcccaafc2c27c617cb2afca94169659&fs=MTY5NjA0NDg2MjmUsIC2Nnx3ZWJWNHwxLjUzLjE5OC40NA"
            ms.play();
        })

        
    </script>
</body>
</html>