.home-page-content{
    
    /* background-color: red; */
    min-height: 100px;
    color: var(--text-primary);
}
.home-page-content-items{
    margin-top: 3rem;
}
.main-items-header{
    margin-bottom: 2rem;
}
.main-items-header .items-header-subtitle{
    color:var(--text-secondary);
}
.main-items-header .items-header-title{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}
.main-items-content{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap:2rem;
   
}
.main-items-content:not(:last-child){
    margin-bottom: 0.5rem;
}
.wrapper-items-song{
    flex: 0 0 31%; /* Mỗi mục chiếm 30% */
    min-width: 200px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.wrapper-items-song .item-actions{
    display: none;
}
.wrapper-items-song{
    color: var(--text-primary);
    border-radius: 0.8rem;
}
.wrapper-items-song:hover{
    background-color: var(--tab-active-bg);
}
.wrapper-items-song .item-song .item-song-wrapper:hover{
    background-color: unset;
}
.wrapper-items-song:hover .item-actions {
    display: block; /* Hiển thị khi .wrapper-items-song được hover */
}

.wrapper-items-song .item-song-content .song-thumb img{
    width: 6rem;
}

@media (max-width: 991px){
    .wrapper-items-song{
        width: 100%;
        flex:unset
    }
}
